8086TinyPlusVCC/Debug/
8086TinyPlusVCC/Release/
Release/
enc_temp_folder/
8086TinyPlusVCC.exe
8086TinyPlusVCC.ilk
8086TinyPlusVCC.pdb
8086TinyPlusVCC.sdf
256mb.img
dos622.ima
iomega1.IMG
iomega2.IMG
8086TinyPlusVCC.VC.opendb
Super8086Tiny.exe
Super8086Tiny.ilk
Super8086Tiny.pdb
Super8086TinyVCC.sdf
Super8086TinyVCC.VC.opendb
Super8086Tiny/Debug/
SendRawPacket/PROTTEST/PROTTEST.sdf
SendRawPacket/PROTTEST/Debug/
SendRawPacket/PROTTEST/PROTTEST/Debug/
SendRawPacket/RawEthernet/bin/
SendRawPacket/RawEthernet/obj/
SendRawPacket/PROTTEST/PROTTEST.VC.opendb
Super8086Box.exe
Super8086Box.ilk
Super8086Box.pdb
Super8086BoxVCC.sdf
Super8086BoxVCC.VC.opendb
*.bin
Super8086Box/Debug/
iomega.IMG
zip100.img
Super8086BoxVCC.VC.db
zip250.img
zip750.img
Super8086BoxVCC.VC.VC.opendb
zip250_correct.img
